<div class="main-wrapper container-fluid">
   <div style="padding: 20px;border-bottom: solid 2px #282828;margin-bottom: 20px;">
       <h2 style="display: inline-block"><b>Project x Overview</b> </h2>
       &nbsp;&nbsp;&nbsp;&nbsp; <div style="width: 50PX;height: 12px;background: #282828;display: inline-block"></div><div style="width: 150PX;height: 12px;background: #ECBD00;display: inline-block"></div> 25% ready!
       &nbsp;&nbsp;&nbsp;&nbsp;<div style="width: 25PX;height: 12px;background: #282828;display: inline-block"></div><div style="width: 25PX;height: 12px;background: #ECBD00;display: inline-block"></div> 2 days to go!
       <a style="float: right" href="#"><img src="dist/img/live.png"></a>
   </div>

    <div class="head-wrapper"></div>
    <div class="row">
        <div class="col-md-3 kanban-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" class="" style="">Backlog</div>
                    <a href="" ng-repeat="(key, todostask) in lanes[0]" ng-click="progress(key, 0)"><div class="col-md-12 task" style=""><img src="dist/img/user1.png">{{todostask.name}}</div></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 kanban-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" class="" style="">In Progress</div>
                    <a href="" ng-repeat="(key, inprogresstask) in lanes[1]" ng-click="progress(key, 1)"><div class="col-md-12 task" style=""><img src="dist/img/user1.png">{{inprogresstask.name}}</div></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 kanban-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" class="" style="">In Review</div>
                    <a href="" ng-repeat="(key, inreviewtask) in lanes[2]" ng-click="progress(key, 2)"><div class="col-md-12 task" style=""><img src="dist/img/user1.png">{{inreviewtask.name}}</div></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 kanban-column">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12" class="" style="">Done</div>
                    <div class="col-md-12 task" style="" ng-repeat="donetask in lanes[3]"><img src="dist/img/user1.png">{{donetask.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
